:root {
  --ifm-color-primary: #0d5bd7;
  --ifm-color-primary-dark: #0c52c2;
  --ifm-color-primary-darker: #0b4db7;
  --ifm-color-primary-darkest: #093f96;
  --ifm-color-primary-light: #1766e1;
  --ifm-color-primary-lighter: #2a73e4;
  --ifm-color-primary-lightest: #4a89ea;
  --ifm-background-color: #fbfdff;
  --ifm-font-color-base: #19263c;
  --ifm-code-font-size: 92%;
  --docusaurus-highlighted-code-line-bg: rgba(13, 91, 215, 0.08);
}

.navbar {
  border-bottom: 1px solid #dfe7f3;
}

.footer {
  border-top: 1px solid #dfe7f3;
}
